<ion-view view-title="About">
	<ion-content class="padding">

  	<h3>About</h3>
  	<hr>

		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci nemo, natus reprehenderit, dignissimos quia earum ex fugiat praesentium molestiae in sit odio ipsum, atque! Qui totam consequuntur inventore laudantium harum.
		</p>

		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis quas vel facere vero assumenda nulla suscipit reprehenderit obcaecati dolores consectetur eveniet aut ipsum, quisquam illum soluta aliquam, quae voluptatem hic.
		</p>

	</ion-content>
</ion-view>
